.body {
    display: flex;
}
.aside {
    width: 20%;
    height: 100vh;
    background-color: white;
    /* Esto lo mantendra en su sitio */
    position: fixed;
    top: 1;
    left: 0;
    z-index: 1;
}

.contenido {
    position: fixed;
    top: 0;
    left: 23%;
}

.barra{
    z-index: 2;
}