@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

h2{
    font-family: Nanum Myeongjo, erif;
}

.container input{
    border-radius: 18px;
    background-color: #DFF1F1;
    border: 2px solid #a3a3a3;
}

.card{
    border: 3px solid #888686;
    background-color: #a3a3a375;
    border-radius: 18px;
}

.boton input{
border: 2px solid #9584FF;
background-color: #0097B2;
}
body{
    background: url(../img/fondoo.jpg) no-repeat;
    background-size: cover;
}

.select select{
    border-radius: 18px;
    background-color: #DFF1F1;
    border: 2px solid #a3a3a3;
}

.bt-dgn{
    border-radius: 18px;
    background-color: #DFF1F1;
    border: 2px solid #a3a3a3;
}

